body {
  background-color: #3b413c;
  color: #daf0ee;
}
.jumbotron {
  background-color: #94d1be;
  color: white;
}
.modal-dialog,
.modal-content {
  /* 80% of window height */
  height: 90%;
  /* opacity: 90%; */
}

.modal-body {
  /* 100% = dialog height, 120px = header + footer */
  max-height: calc(100% - 120px);
  overflow-y: scroll;
}
