* {
  margin: 0;
  padding: 0;
  /* border: 0.5px dotted pink; */
  box-sizing: border-box;
}

body, html {
  /* background-color:   #3b413c; */
  color: #e9f1f7;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  font-weight: 400;
  position: relative;
}
nav {
  display: fixed;
}
.img1, .img2, .img3, .img4, .img5 {
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

/* background-attachment:
fixed = parallaxing
scroll = normal */
    background-attachment: fixed;
}

.img1 {
  background-image: url('../img/lightbulb2.jpg');
  min-height: 100%;
}
.img2 {
  background-image: url('../img/webdev.jpg');
  min-height: 400px;
}
.img3 {
  background-image: url('../img/programming.jpg');
  min-height: 400px;
}
.img4 {
  background-image: url('../img/image3.jpg');
  min-height: 400px;
}
.img5 {
  background-image: url('../img/image5.jpg');
  min-height: 400px;
}

.section {
  text-align: center;
  padding: 50px 80px;
}

.section-light {
  background-color: #5d2a42;
  color: #e9f1f7;
}

.section-dark {
  background-color: #5F758E;
  color: #e9f1f7;
}

.text{
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 26pt;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.text .border {
  background-color: #5d2a42;
  color: #e9f1f7;
  padding: 20px;
}

.text .border .trans {
  background-color: transparent;
}
.techwrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  max-height: 400px;
}
.showtech {
  width: 50%;
  border-radius: 12%;
  border: 5px solid #E9F1F7;
  padding: 10px;
}
.projects {
  display: flex;
  /* overflow-x: scroll; */
  /* white-space: nowrap; */
  /* scroll-behavior: auto; */
  width: 50%;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: scroll;
}
.project {
  /*  */
  text-align: left;
  width: 400px;
  margin-left: 20px;
  margin-bottom: 20px;
  background-color: #E9F1F7;
  border-radius: 12%;
  padding: 10px;
  border: 5px solid #85BDA6;
  transition: 0.3s;
  word-wrap: break-word;
  text-overflow: ellipsis; 
}

.projects:last-child {
  margin-left: 0px;
}
.project h5 {
  font-weight: bold;
  text-align: center;
  color: #FFCA3A;
  text-shadow: 2px 2px #5F758E;
  text-transform: uppercase;
}
.project p {
  font-size: 14pt;
  color: #5D2A42;
  margin-bottom: 5px;
}

.project img {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}
.project:hover {
  border: 5px solid #FFCA3A;
  box-shadow: 10px 10px 80px #FFCA3A;
  transition: 0.3s;
}
.project:hover h5 {
  color: #85BDA6;
  text-shadow: 2px 2px #5D2A42;
  transition: 0.3s;
}

.project:hover p {
  color: #5F758E;
}

.modal-dialog,
.modal-content {
  /* 80% of window height */
  height: 90%;
  color: #3b413c;
  /* opacity: 90%; */
}

.modal-body {
  /* 100% = dialog height, 120px = header + footer */
  max-height: calc(100% - 120px);
  overflow-y: auto;
  color: #3b413c;
  max-width: 100%;
}

img.aboutmepic {
  width: 100%;
  text-align: left;
  border: 3px solid #3b413c;
  margin-bottom: 4px;
  
}

.navbar .dropdown-menu:hover,
.navbar .nav-item:hover,
nav{
  background-color: #85BDA6 !important;
  transition: 0.3s;
  color: aliceblue;
}


/* colors generated from 
https://coolors.co/5f758e-e9f1f7-5d2a42-ffca3a-85bda6 */

#initials,
.navbar-brand {
  color: #85BDA6 !important;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.text-warning {
  color: #85BDA6 !important;
}

.text-success {
  color: #85BDA6 !important;
}

h1 {
  text-align: center;
}

#info,
#info p,
#info a {
  text-align: left;
  vertical-align: baseline;
}

.lead {
  text-align: center;
}

.carousel {
  height: 440px;
}

.carousel-caption {
  /* background-color: black; */
  /* opacity: 0.5; */
  text-shadow: 2px 2px #3b413c;
}

.jumbotron {
  background-color: #85BDA6;
  color: white;
  border-radius: 20px;
  box-shadow: 5px 5px #333333;
}

.container1 {
  position: absolute;
  top: 30%;
  left: 65%;
  transform: translate(-50%, -50%);
  border: 4px dashed aliceblue;
  padding: 20px;
  border-radius: 30%;
  text-align: center;
  color: #333;
}
.container1 span {
  font-size: 30pt;
  font-weight: bold;
  text-transform:uppercase;
}
.cursor {
  display: inline-block;
  width: 2px;
  height: 25px;
  background: #333;
}